.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 361px);
  gap: 20px;
  max-width: 880px;
  height: 743px;
  top: 329px;
  left: 200px;
  margin: 50px auto 0;
  box-sizing: border-box;
  row-gap: 20px;
  column-gap: 17px;
  padding-left: 19px;
}

.elements__item {
  max-width: 282px;
  height: 361px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.elements__item-image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}
.elements__item-info {
  background-color: white;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px 15px 31px 21px;
  margin-top: auto;
}
.elements__item-name {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__item-likeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.elements__item-likeBtn:hover .like-icon {
  opacity: 0.5;
}

.like-icon {
  width: 21px;
  height: 19px;
  transition: all 0.3s ease;
}

.elements__item-likeBtn.liked .like-icon {
  content: url("../images/likedButton.png");
}

.elements__item-trashBtn {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trash-icon {
  width: 18px;
  height: 18px;
}
.elements__item-trashBtn:hover .trash-icon {
  background-color: rgb(47, 45, 45);
}

@media screen and (max-width: 800px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 361px);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 510px;
  }

  .elements__item {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 100%;
    height: auto;
    top: 448px;
    left: 19px;
  }

  .elements__item {
    width: 282px;
    height: 361px;
    margin: 0 auto;
  }
}
