.nav__vector {
  color: rgba(255, 255, 255, 1);
  max-width: 173px;
}
.nav__brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__logo img {
  width: 173px;
  height: 33px;
  object-fit: contain;
}
@media screen and (max-width: 800px) {
  .nav__logo {
    margin-left: 28px;
  }
}
