.popup {
  /* display: none;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  width: 430px;
  height: 330px;
  border-radius: 10px;

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup__icon {
  width: 40px;
  height: 40px;
}

.popup__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: black;
  margin: 34px 36px 54px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__input {
  padding-bottom: 13.26px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 36px 29.74px;
}

.popup__button {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  width: 358px;
  height: 50.15px;
  margin: 18.26px auto 36.51px;
  transition: background 0.3s, transform 0.3s;
}

.popup__button:hover {
  background-color: rgb(47, 45, 45);
}
